<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>test.testServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testservlet</url-pattern>
    </servlet-mapping>
    -->
    <!--<servlet>-->
        <!--<servlet-name>TestServletConfig</servlet-name>-->
        <!--<servlet-class>test.TestServletConfig</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>name</param-name>-->
            <!--<param-value>zzz</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>password</param-name>-->
            <!--<param-value>123</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>charset</param-name>-->
            <!--<param-value>utf-8</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->



    <servlet>
        <servlet-name>TestContextServlet</servlet-name>
        <servlet-class>test.TestContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestContextServlet</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestSourceServlet</servlet-name>
        <servlet-class>test.TestSourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSourceServlet</servlet-name>
        <url-pattern>/source</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TestForwordServlet</servlet-name>
        <servlet-class>test.TestForwordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestForwordServlet</servlet-name>
        <url-pattern>/forword</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>url</param-name>
        <param-value>com.jdbc.mysql://loclahost:3306/rmsystem</param-value>
    </context-param>

</web-app>